<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets '@bootstrap' %}
    		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% javascripts
    		'@jquery2'
     	 %}
   			 <script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		    <script>
    $( document ).ready(function() {

        
        
        
        $('#view_users').click(function(){
        	$.post('{{path('user_bundle_routing')}}',{
                getUsers:1
            },function(data){
                   $('#user_list').html(data);             
            });
        });
        
        $('#add_user').click(function(){
        	$.post('{{path('new_user_routing')}}',{
                getUsers:1
            },function(data){
                   $('#user_list').html(data);             
            });
        });

        $('#user_list').on("submit","#user_save", function(){
    	    var FN = $('#user_firstName').val();
    	    var LN = $('#user_lastName').val();
    	    $.post('{{path('new_user_save_routing')}}',{
    	    	user_firstname:FN,
    	    	user_lastname:LN
            },function(data){
                  alert(data);            
            });
       });  
    }) 
    </script> 
    </body>
</html>
