<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>{% block title %}Welcome!{% endblock %}</title> {% stylesheets
'@bootstrap_css' %}
<link rel="stylesheet" type="text/css" media="screen"
	href="{{ asset_url }}" />
{% endstylesheets %}
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
	{% block body %}{% endblock %}
	
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	
	{% javascripts '@jquery' '@bootstrap_js' '@base'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

</body>
</html>
