<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
{% stylesheets '@bootstrap_css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
    {% javascripts '@jquery' '@bootstrap_js'  %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
		    <script>
    $( document ).ready(function() {

        
        
        
        $('#view_users').click(function(){
        	$.post('{{path('user_bundle_routing')}}',{
                getUsers:1
            },function(data){
                   $('#user_list').html(data);             
            });
        });
        
        $('#add_user').click(function(){
        	$.post('{{path('new_user_routing')}}',{
                getUsers:1
            },function(data){
                   $('#user_list').html(data);             
            });
        });

        $('#user_list').on("submit","#new_user", function(){

    	    var FN = $('#user_firstName').val();
    	    var LN = $('#user_lastName').val();
    	    
    	    $.post('{{path('new_user_save_routing')}}',{
    	    	user_firstname:FN,
    	    	user_lastname:LN
            },function(data){
         	   $('#user_list').html(data); 
          	  $.post('{{path('get_user_count_routing')}}',{
        	    	getUser:1
                },function(data){
             	   $('#user_count').html(data);          
                });         
            });

    	    
            return false;
       });  
    }) 
    </script> 
    </body>
</html>
